/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

footer p.corp-name {
    text-align: center;
}

img.cover-image {
    float: left;
    width: auto;
    max-height: 300px;
    max-width: 420px;
}

p.game-description {
    display: inline-block;
    max-width: 480px;
    text-align: justify;
    font-size: 14px;
    background-color: #313131;
    margin-left: 20px;
    padding: 15px;
    border-radius: 5px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

div.play-btn-panel {
    margin-top: 15px;
}

.comments-section {
    clear: both;
}

footer.comment-footer a {
    text-decoration: none;
    color: #ccc;
}

footer.comment-footer span.date {
    color: #ccc;
}

article.game-comment-box {
    background-color: #484848;
    margin-top: 1px;
    padding: 5px;
}

.comments-section {
    margin-top: 50px;
}

div.play-btn-panel {
    clear: both;
}

a.play-btn {
    font-size: 16px;
    padding-left: 35px;
    background-image: url(/Content/Images/play-game-image.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
}

.hidden {
    display: none;
}

.visilble {
    display: block;
}
